Package: com.whited00r.wd7ui
Name: WD7UI
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: whited00r
Author: whited00r
Section: Tweaks
